<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="app" source="spring.application.name"/>
    <springProperty scope="context" name="profile" source="spring.profiles"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>220.88.46.130:15000</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"index":"${app}-${profile}"}</customFields>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOG_STASH"/>
        </root>
    </springProfile>

    <logger name="ACCESS_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

    <logger name="WORKER_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

    <logger name="EMAIL_LOGGER" additivity="false" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_STASH"/>
    </logger>

</configuration>

